.tabContainer {
  :global .ant-tabs-nav {
    margin-bottom: 0 !important;

    &::before {
      border-bottom: 0 !important;
    }
  }

  :global .ant-tabs-tab-active {
    border-color: var(--ant-color-border) !important;
  }
}
